.ccos-diagram {
	color: white;
	background: #0C2072;
	font-size: 0.8em;
	padding: 1.5em 0;
	display: none;
}

@media (min-width: 426px) and (min-height: 568px) {
	.ccos-diagram {
		display: block;
	}

	.ccos-diagram-mobile {
		display: none;
	}
}

@media (min-width: 768px) {
	.ccos-diagram {
		font-size: 1.2em;
	}
}

.ccos-diagram h2 {
	color: #DBB512;
	font-size: 1em;
}

.ccos-diagram .row {
	margin: 0;
}

.step {
	margin: 1em;
	padding: 1em;
	opacity: 0;
	color: white;
}

.ccos-diagram .ccos-diagram-icon {
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.step-text {
	left: -200px;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
}

.ccos-diagram .svg-arrow {
	width: 35px;
}

.arrow-dashed-long {
	position: absolute;
	top: -15%;
	left: 35%;
	width: 35% !important;
}

.arrow-solid-long {
	position: absolute;
	top: -15%;
	left: 43%;
	width: 15% !important;
}

.diagonal-right {
	position: absolute;
	top: -45%;
	left: -45%;
	width: 40px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;
}

.diagonal-right.secondary {
	top: -30%;
}

.diagonal-left {
	position: absolute;
	bottom: -55%;
	left: 33%;
	width: 45px;
	-webkit-transform: rotate(60deg);
	        transform: rotate(60deg);
	-webkit-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;
}

@media (min-width: 459px) {
	.diagonal-left {
		bottom: -85%;
	}
	.diagonal-right.secondary {
		top: -20%;
	}
}

@media (min-width: 500px) {
	.diagonal-right {
		top: -10%;
	}

	.diagonal-right.secondary {
		top: -10%;
	}
}

@media (min-width: 570px) {
	.diagonal-right {
		left: -35%;
	}

	.diagonal-right.secondary {
		left: -35%;
	}
}

@media (min-width: 768px) {
	.diagonal-left {
		bottom: -45%;
	}
}

@media (min-width: 993px) {
	.diagonal-left {
		width: 65px;
	}

	.diagonal-right {
		width: 65px;
	}

	.diagonal-right.secondary {
		width: 65px;
	}
}

@media (min-width: 1440px) {
	.diagonal-left {
		width: 75px;
	}

	.diagonal-right {
		width: 75px;
	}

	.diagonal-right.secondary {
		width: 75px;
	}
}

.fade-in-top {
	-webkit-animation: fadeInTop 1s;
	        animation: fadeInTop 1s;
	opacity: 1;
}

.fade-out-top {
	-webkit-animation: fadeOutTop 1s;
	        animation: fadeOutTop 1s;
	opacity: 0;
}

.fade-in-left {
	-webkit-animation: fadeInLeft 1s;
	        animation: fadeInLeft 1s;
	left: 0;
}

.fade-out-left {
	-webkit-animation: fadeOutLeft 1s;
	        animation: fadeOutLeft 1s;
	left: -200px;
}

.ccos-diagram-mobile {
		background: #0C2072;
		color: #fff;
		text-align: center;
		padding: 0;
	}

.ccos-diagram-mobile h1 {
		font-size: 1.4em;
		padding: 1em 0 0 0;
	}

.ccos-diagram-mobile h2 {
		font-weight: 600;
		color: #DBB512;
		font-size: 1.2em;
		margin: 0;
	}

.ccos-diagram-mobile .row {
		height: 260px;
	}

.ccos-diagram-mobile .row div {
		padding: 1em;
	}

.diagram-step {
		cursor: pointer;
		height: 260px;
		padding: 0;
	}

.diagram-step-icon {
		width: 130px;
		height: 130px;
	}

.swipe-arrow {
		width: 20px;
	}

.swipe-arrow.reverse {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}

.small-solid-arrow {
		width: 50px;
	}

.large-solid-arrow {
		width: 35px;
		position: absolute;
		bottom: -110%;
		left: 39%;
		pointer-events: none;
	}

.diagonal-left-arrow {
		width: 100px;
		position: absolute;
		top: 70%;
		left: -30%;
		-webkit-transform: rotate(-10deg);
		        transform: rotate(-10deg);
	}

.diagonal-right-arrow {
		width: 100px;
		position: absolute;
		top: 135%;
		left: -35%;
		-webkit-transform: rotate(10deg);
		        transform: rotate(10deg);
	}

@media(min-width: 375px) {
		.diagonal-left-arrow {
			width: 120px;
			top: 65%;
		}
		.diagonal-right-arrow {
			width: 120px;
			top: 100%;
		}
	}

@media (min-width: 425px) {
		.diagonal-right-arrow {
			top: 110%;
		}
	}

.diagram-step-info {
		background: #102990;
		text-align: left;
	}

.diagram-step-info.left {
		left: -600px;
		position: absolute;
		-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
		        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
		z-index: 1;
	}

.diagram-step-info.right {
		left: 600px;
		position: absolute;
		-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
		        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
		z-index: 1;
	}

@-webkit-keyframes fadeInRight {
		0% {
			left: 600px;
		}
		100% {
			left: 0;
		}
	}

@keyframes fadeInRight {
		0% {
			left: 600px;
		}
		100% {
			left: 0;
		}
	}

@-webkit-keyframes fadeOutRight {
		0% {
			left: 0;
		}
		100% {
			left: 600px;
		}
	}

@keyframes fadeOutRight {
		0% {
			left: 0;
		}
		100% {
			left: 600px;
		}
	}

.fade-in-right.right {
		-webkit-animation: fadeInRight 1s;
		        animation: fadeInRight 1s;
		left: 0;
	}

.fade-out-right.right {
		-webkit-animation: fadeOutRight 1s;
		        animation: fadeOutRight 1s;
		left: 600px;
	}

@-webkit-keyframes fadeOutLeft {
		0% {
			left: 0px;
		}
		100% {
			left: -600px;
		}
	}

@keyframes fadeOutLeft {
		0% {
			left: 0px;
		}
		100% {
			left: -600px;
		}
	}

.fade-in-left.left {
		-webkit-animation: fadeInLeft 1s;
		        animation: fadeInLeft 1s;
		left: 0;
	}

.fade-out-left.left {
		-webkit-animation: fadeOutLeft 1s;
		        animation: fadeOutLeft 1s;
		left: -600px;
	}

.image-header-mobile-overlay {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(white)) no-repeat;
	background: linear-gradient(rgba(0, 0, 0, 0), white) no-repeat;
	width: 100%;
	height: 100%;
}

.image-header {
	text-align: center;
	padding: 2em 0;
}

@media (min-width: 768px) {
	.image-header-mobile-overlay {
		background: transparent;
	}

	.image-header {
		background: white;
		text-align: left;
	}
}

.image-header .col-lg-8 {
	padding: 0;
}

.image-header .col-lg-4 {
	padding: 0;
}

.turnkey-section {
	background: #F4F4F4;
	text-align: center;
	padding: 3em 0;
}

.turnkey-column {
	padding: 1em;
}

.turnkey-column div {
	padding: 0;
}

.turnkey-icon-box {
	background: #4057A9;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
}

.turnkey-icon {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.turnkey-image {
	width: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.turnkey-column h2 {
	font-size: 24px;
	margin: 0.5em 0;
}

.turnkey-column p {
	text-align: left;
}

.turnkey-buttons {
	margin-top: auto;
	margin-bottom: auto;
}
