.contact-section {
	padding-top: 3em;
}

.contact-section h1 {
	text-align: center;
	font-weight: 700;
	padding-bottom: 1em;
}

.contact-form {
	padding: 2em 0;
	text-align: left;
}

@media (min-width: 768px) {
	.contact-form {
		padding: 0 3em 0 0;
	}
}

.contact-form .col-12 {
	padding: 0;
}

.contact-form .col-6 {
	padding: 0 0 0 0.5em;
}

.contact-form .col-6:first-child {
	padding: 0 0.5em 0 0;
}

.contact-form input {
	width: 100%;
	border-radius: 5px;
}

.contact-form textarea {
	width: 100%;
	height: 150px;
	border-radius: 5px;
	padding: 1em;
}

.contact-form .contact-button {
	border-radius: 7px;
	font-size: 20px;
	width: 100%;
}

@media (min-width: 425px) {
	.contact-form .contact-button {
		width: 200px;
	}
}

.contact-form button:hover {
	cursor: pointer;
}

.contact-section hr {
	margin: 2em 0;
}
