.image-header-mobile {
    background: url(../img/solutions-hero-small.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 275px;
}

.image-header-mobile-overlay {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white)) no-repeat;
	background: linear-gradient(rgba(255, 255, 255, 0), white) no-repeat;
	width: 100%;
	height: 100%;
}

.image-header .container {
	color: black;
	text-align: center;
	padding: 0;
}

h1 {
	font-size: 1.7em;
}

@media (min-width: 768px) {
	h1 {
		font-size: 40px;
	}

	.image-header {
		background: url(../img/solutions-hero-large.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100%;
		padding: 2em 0 6em 0;
	}

	.image-header .container {
		text-align: left;
	}
}

.gradient-border-left.solutions-divider {
	margin: 2em 0;
}

.solutions-header {
	text-align: center;
	padding: 1.5em 1em 0 1em;
}

.solutions-header p {
	margin-bottom: 0.7em;
}

.repeating-logo-background {
	padding: 0;
}

.fade-gradient {
	position: absolute;
	width: 100%;
	height: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.timeline {
	width: 90%;
	position: relative;
	padding: 0;
	margin: 30px 30px 0 30px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.timeline:before {
	content: "";
	width: 3px;
	height: 100%;
	background: #102990;
	left: 0;
	top: 0;
	position: absolute;
}

@media(min-width: 768px) {
	.timeline {
		width: 100%;
		position: relative;
		padding: 2em 20px 0 20px;
		margin: 0;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.timeline:before {
		left: 50%;
	}
}

.timeline:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}

.timeline-anchor {
	position: absolute;
	top: -90px;
}

.timeline-item {
	margin-bottom: 50px;
	position: relative;
}

.timeline-item:after, .timeline-item:before {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.timeline-icon {
	background: #102990;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	position: absolute;
	overflow: hidden;
	margin-left: -23px;
	border-radius: 50%;
}

.timeline-icon .fa {
	color: #fff;
	position: relative;
	top: 4px;
	left: 4px;
	width: 85%;
	height: 85%;
}

@media(min-width: 768px) {
	.timeline-icon {
		top: 110px;
		left: 49.5%;
		width: 55px;
		height: 55px;
	}

	.timeline-icon .fa {
		top: 11px;
		left: 12px;
		width: 60%;
		height: 60%;
	}
}

@media(min-width: 1024px) {
	.timeline-icon {
		top: 80px;
		left: 48.5%;
		width: 75px;
		height: 75px;
	}

	.timeline-icon .fa {
		top: 8px;
		left: 9px;
		width: 75%;
		height: 75%;
	}
}

.timeline-content {
	background: #fff;
	font-size: 0.9em;
	float: right;
	width: 85%;
	padding: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .1);
	        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.timeline-content:before, .timeline-content.right:before {
	left: 10%;
	margin-left: -6px;
	border-left: 0;
	border-right: 7px solid #102990;
}

.timeline-content h2 {
	color: #fff;
	background: #102990;
	font-size: 18px;
	padding: 15px;
	margin: -20px -20px 0 -20px;
	border-radius: 3px 3px 0 0;
}

@media(min-width: 768px) {
	.timeline-content {
		font-size: 1em;
		float: left;
		width: 45%;
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .1);
		        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .1);
	}

	.timeline-content.right {
		float: right;
	}

	.timeline-content h2 {
		padding: 15px;
		margin: -20px -20px 0 -20px;
		font-size: 22px;
	}
}

.timeline-content p {
	padding-top: 20px;
	margin: 0;
}

/* img {
	max-width: 100%;
} */

/* .timeline-content:before {
	content: '';
	position: absolute;
	left: 45%;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid var(--dark-blue);
} */

/* .timeline-content.right:before {
	content: '';
	right: 45%;
	left: inherit;
	border-left: 0;
	border-right: 7px solid var(--dark-blue);
} */

/* .fading {
	margin-bottom: 10px;
} */

/* Animation CSS */

/* content block animation */

.timeline-content.is-hidden {
	visibility: hidden;
}

.timeline-content.animate-it {
	visibility: visible;
	-webkit-animation: bounce-2 0.6s;
	        animation: bounce-2 0.6s;
}

@media only screen and (min-width: 769px) {
	/* Inverse bounce effect on even content blocks */
	.timeline-content.right.animate-it {
		-webkit-animation: bounce-2-inverse 0.6s;
		        animation: bounce-2-inverse 0.6s;
	}
}

@media only screen and (max-width: 768px) {
	/* Inverse bounce effect on all content blocks */
	.timeline-content.animate-it, .timeline-content.right.animate-it {
		-webkit-animation: bounce-2-inverse 0.6s;
		        animation: bounce-2-inverse 0.6s;
	}
}

/* ALL animation types called */

@-webkit-keyframes bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@-webkit-keyframes bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		        transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		        transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@keyframes bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		        transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		        transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@-webkit-keyframes bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		        transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		        transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@keyframes bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		        transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		        transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
