<div class="gradient-border-right"></div>
<div class="container-fluid advertisement-section">
  <div class="container p-md-0">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 order-md-2 p-0 pl-md-5">
        <h1 class="mb-3">Consumers touch their phone 2,600 times per day.</h1>
        <p>MK Decision builds banking, web applications for smartphones. With our “Mobile First Development” approach you can Originate Credit Cards on Visa & Mastercard rails and board them to your Bank Core Accounting System.</p>
        <a target="_blank" href="http://ccos-demo.s3-website-us-west-2.amazonaws.com/" class="btn button-primary light">Try the Demo<i class="fa fa-angle-right button-arrow"></i></a>
      </div>
      <div class="col-12 col-md-5 col-lg-3 order-md-1 p-0 advertisement-phone-mockup">
        <img src="img/mockups/ccos-offers-mockup.png" alt="CCOS Demo on iPhone">
      </div>
    </div>
  </div>
</div>
<div class="gradient-border-left"></div>
