<div class="gradient-border-right"></div>
<div class="container-fluid product-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-9 order-md-2 product-description">
        <h1>Underwriting Consumer Loans In < 3 Seconds?</h1>
        <h2>MK’s proprietary, Automated Decisioning System<sup>TM</sup> provides:</h2>
        <ul class="ads-list">
          <li><span>✓ </span>Scalable credit risk management</li>
          <li><span>✓ </span>Regulatory compliance</li>
          <li><span>✓ </span>Credit bureau and core banking integrations</li>
          <li><span>✓ </span>Increased ROI by reducing overhead</li>
        </ul>
        <a href="ccos.html" class="btn button-primary light button-long">Get Automated Loan Origination<i class="fa fa-angle-right button-arrow"></i></a>
      </div>
      <div class="col-12 col-md-5 col-lg-3 order-md-1 product-phone-mockup">
        <img src="img/mockups/ccos-card-details-mockup.png" alt="CCOS Demo on iPhone">
      </div>
    </div>
  </div>
</div>
<div class="gradient-border-left"></div>
