<div id="ccosDiagram" class="container-fluid ccos-diagram-mobile">
  <div class="container">
    <h1>End-to-End Credit Card Origination</h1>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto"><h2>Customer Applies</h2>
				Our easy to use, responsive web applications are developed with a modern, “mobile-first” design that
				is optimized for conversions.
			</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Customer Applies</h2>
        <img src="img/ccos-diagram/1.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-xsmall.svg" alt class="small-solid-arrow">
      </div>
      <div class="col-6 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto">
        <h2>AppShield<sup>TM</sup> Filters the Data</h2>
        <p class>
				MK’s proprietary Appshield protects identity and prevents fraud by filtering invalid data entries
				and repeat applications.
				</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>AppShield<sup>TM</sup> Filters the Data</h2>
        <img src="img/ccos-diagram/2.svg" alt class="diagram-step-icon">
      </div>
      <div class="col-6 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
        <img src="img/ccos-diagram/arrow-dashed-right.svg" alt class="diagonal-right-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-10 m-auto"><h2>Invalid Data Entry</h2>
				Customer receives error message to explain what was done wrong.
			</div>
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
    <div class="row">
      <div class="col-6 m-auto text-left">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-6">
        <h2>Invalid Data Entry</h2>
        <img src="img/ccos-diagram/3.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-xsmall.svg" alt class="small-solid-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-10 m-auto"><h2>If Data Entry Verified…</h2>
				Before pulling a Customer’s credit report, AppShield<sup>TM</sup> verifies the form has been validated.
			</div>
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
    <div class="row">
      <div class="col-6 m-auto text-left">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
        <img src="img/ccos-diagram/arrow-long.svg" alt class="large-solid-arrow">
      </div>
      <div class="col-6">
        <h2>If Data Entry Verified…</h2>
        <img src="img/ccos-diagram/4.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-dashed.svg" alt class="diagonal-left-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto"><h2>… Credit Report Pulled</h2>
				CCOS integrates with leading Credit Bureaus and other data furnishers to pull 10,000+ credit and fraud data points.
			</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>… Credit Report Pulled</h2>
        <img src="img/ccos-diagram/5.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-xsmall.svg" alt class="small-solid-arrow">
      </div>
      <div class="col-6 m-auto text-right">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto"><h2>10,000+ Data Points Decisioned</h2>
				MK’s premier Automated Decisioning System processes Credit Data and Bank underwriting criteria - instantly.
			</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>10,000+ Data Points Decisioned</h2>
        <img src="img/ccos-diagram/6.svg" alt class="diagram-step-icon">
      </div>
      <div class="col-6 m-auto text-right">
        <img src="img/ccos-diagram/arrow-dashed-right.svg" alt class="diagonal-right-arrow">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
        <img src="img/ccos-diagram/arrow-long.svg" alt class="large-solid-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-10 m-auto"><h2>If Application or Identity is Declined…</h2>
				Banks can choose to counter offer Declined Customers a Secure Card or automate a decline notification.
			</div>
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
    <div class="row">
      <div class="col-6 m-auto text-left">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-6">
        <h2>If Application or Identity is Declined…</h2>
        <img src="img/ccos-diagram/7.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-xsmall.svg" alt class="small-solid-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-10 m-auto"><h2>…Adverse Action Letter Sent</h2>
				Secure digital messaging allows Banks to control the message delivery timing and eliminate physically mailed Adverse Action Letters or Risk Based Pricing Notices.
			</div>
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
    <div class="row">
      <div class="col-6 m-auto text-left">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
        <img src="img/ccos-diagram/arrow-long.svg" alt class="large-solid-arrow">
      </div>
      <div class="col-6">
        <h2>…Adverse Action Letter Sent</h2>
        <img src="img/ccos-diagram/8.svg" alt class="diagram-step-icon">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto"><h2>Approved Loan Boarded to Bank Core</h2>
				CCOS integrates with leading Core Banking providers to automatically create credit card, checking, and savings accounts.
			</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Approved Loan Boarded to Bank Core</h2>
        <img src="img/ccos-diagram/9.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-xsmall.svg" alt class="small-solid-arrow">
      </div>
      <div class="col-6 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto"><h2>Secured Immediate Response</h2>
				Approval notifications are nearly instant and welcome emails providing Terms & Conditions and applicable compliance notices are automated.
			</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Secured Immediate Response</h2>
        <img src="img/ccos-diagram/10.svg" alt class="diagram-step-icon">
        <img src="img/ccos-diagram/arrow-xsmall.svg" alt class="small-solid-arrow">
      </div>
      <div class="col-6 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
  </div>
  <div class="container diagram-step">
    <div class="row hidden-step diagram-step-info left">
      <div class="col-2 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow reverse">
      </div>
      <div class="col-10 m-auto"><h2>Physical Card Arrives</h2>
				Core Banking provider mails the Customer’s physical payment card which arrives in hand in 4-5 days.
			</div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Physical Card Arrives</h2>
        <img src="img/ccos-diagram/1.svg" alt class="diagram-step-icon">
      </div>
      <div class="col-6 m-auto">
        <img src="img/ccos-diagram/right.png" alt class="swipe-arrow">
      </div>
    </div>
  </div>
</div>
