<div id="ccosDiagram" class="container-fluid ccos-diagram">
  <div class="container text-center p-0">
    <h1>End-to-End Credit Card Origination</h1>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>Customer Applies</h2>
				Our easy to use, responsive web applications are developed with a modern, “mobile-first” design that is optimized for conversions.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/1.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3 d-none d-md-block"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"></div>
      <div class="col-3 col-md-3 my-auto">
        <img class="svg-arrow" src="img/ccos-diagram/arrow-xsmall.svg" alt>
      </div>
      <div class="col-3 col-md-3 d-none d-md-block"></div>
    </div>
    <div class="row step p-0 mb-3">
      <div class="col-6 col-md-6 text-left step-text"><h2>AppShield<sup>TM</sup> Filters the Data</h2>
				MK’s proprietary Appshield protects identity and prevents fraud by filtering invalid data entries and repeat applications.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/2.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3 d-none d-md-block"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>Invalid Data Entry</h2>
				Customer receives error message to explain what was done wrong.</div>
      <div class="col-3 col-md-3">
        <img class="arrow-solid-long" src="img/ccos-diagram/arrow-long.svg" alt>
      </div>
      <div class="col-3 col-md-3">
        <img class="diagonal-right" src="img/ccos-diagram/arrow-dashed-long-front.svg" alt>
        <img src="img/ccos-diagram/3.svg" alt>
      </div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"></div>
      <div class="col-3 col-md-3"></div>
      <div class="col-3 col-md-3">
        <img class="svg-arrow" src="img/ccos-diagram/arrow-xsmall.svg" alt>
      </div>
    </div>
    <div class="row step p-0 mb-3">
      <div class="col-6 col-md-6 text-left step-text"><h2>If Data Entry Verified…</h2>
				Before pulling a Customer’s credit report, AppShield<sup>TM</sup> verifies the form has been validated.</div>
      <div class="col-3 col-md-3"></div>
      <div class="col-3 col-md-3">
        <img class="diagonal-left" src="img/ccos-diagram/arrow-dashed-long-front.svg" alt>
        <img src="img/ccos-diagram/4.svg" alt class="ccos-diagram-icon">
      </div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>… Credit Report Pulled</h2>
				CCOS integrates with leading Credit Bureaus and other data furnishers to pull 10,000+ credit and fraud data points.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/5.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3">
        <img class="arrow-dashed-long" src="img/ccos-diagram/arrow-dashed-long.svg" alt>
      </div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"></div>
      <div class="col-3 col-md-3">
        <img class="svg-arrow" src="img/ccos-diagram/arrow-xsmall.svg" alt>
      </div>
      <div class="col-3 col-md-3 my-1"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text mb-3"><h2>10,000+ Data Points Decisioned</h2>
				MK’s premier Automated Decisioning System processes Credit Data and Bank underwriting criteria - instantly.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/6.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>If Application or Identity is Declined…</h2>
				Banks can choose to counter offer Declined Customers a Secure Card or automate a decline notification.</div>
      <div class="col-3 col-md-3">
        <img class="arrow-solid-long" src="img/ccos-diagram/arrow-long.svg" alt>
      </div>
      <div class="col-3 col-md-3">
        <img class="diagonal-right secondary" src="img/ccos-diagram/arrow-dashed-long-front.svg" alt>
        <img src="img/ccos-diagram/7.svg" alt class="ccos-diagram-icon">
      </div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"></div>
      <div class="col-3 col-md-3"></div>
      <div class="col-3 col-md-3">
        <img class="svg-arrow" src="img/ccos-diagram/arrow-xsmall.svg" alt>
      </div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text mb-3"><h2>…Adverse Action Letter Sent</h2>
				Secure digital messaging allows Banks to control the message delivery timing and eliminate physically mailed Adverse Action Letters or Risk Based Pricing Notices.</div>
      <div class="col-3 col-md-3"></div>
      <div class="col-3 col-md-3">
        <img src="img/ccos-diagram/8.svg" alt class="ccos-diagram-icon">
      </div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>Approved Loan Boarded to Bank Core</h2>
				CCOS integrates with leading Core Banking providers to automatically create credit card, checking, and savings accounts.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/9.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"></div>
      <div class="col-3 col-md-3">
        <img class="svg-arrow" src="img/ccos-diagram/arrow-xsmall.svg" alt>
      </div>
      <div class="col-3 col-md-3"></div>
    </div>
    <div class="row step  p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>Secured Immediate Response</h2>
				Approval notifications are nearly instant and welcome emails providing Terms & Conditions and applicable compliance notices are automated.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/10.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"></div>
      <div class="col-3 col-md-3">
        <img class="svg-arrow" src="img/ccos-diagram/arrow-xsmall.svg" alt>
      </div>
      <div class="col-3 col-md-3"></div>
    </div>
    <div class="row step p-0">
      <div class="col-6 col-md-6 text-left step-text"><h2>Physical Card Arrives</h2>
				Core Banking provider mails the Customer’s physical payment card which arrives in hand in 4-5 days.
			</div>
      <div class="col-3 col-md-3 my-auto">
        <img src="img/ccos-diagram/11.svg" alt class="ccos-diagram-icon">
      </div>
      <div class="col-3 col-md-3"></div>
    </div>
  </div>
</div>
