<nav class="navbar" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md-2 hamburger">
        <img id="leftSidenavToggle" class="d-none d-md-inline" src="img/hamburger.svg" alt="Hamburger menu icon">
      </div>
      <div class="col-6 col-md-8 text-center">
        <a href="/">
          <img class="company-brand" src="/img/logos/logo-black.svg" alt="MK brand">
        </a>
      </div>
      <div class="col-3 col-md-2 text-right hamburger">
        <img id="rightSidenavToggle" class="d-inline d-md-none" src="img/hamburger.svg" alt="Hamburger menu icon">
        <a href="mailto:info@mkdecision.com" class="d-none d-md-inline text-center button-secondary">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
<div id="overlay"></div>
